<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,1242},{133,114}}</string>
			<key>offset</key>
			<string>{4,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,113},{133,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1252,1242},{129,100}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,141},{129,100}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1242},{129,102}}</string>
			<key>offset</key>
			<string>{2,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,137},{129,102}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1709},{132,103}}</string>
			<key>offset</key>
			<string>{3,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,134},{132,103}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1448},{129,100}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,140},{129,100}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,0},{125,102}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,137},{125,102}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1242},{129,102}}</string>
			<key>offset</key>
			<string>{2,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,136},{129,102}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{997,1448},{129,103}}</string>
			<key>offset</key>
			<string>{2,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,134},{129,103}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1027},{129,107}}</string>
			<key>offset</key>
			<string>{2,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,127},{129,107}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,0},{126,112}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,117},{126,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,785},{125,114}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,113},{125,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,1709},{131,113}}</string>
			<key>offset</key>
			<string>{3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,115},{131,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,834},{132,130}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,81},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,280},{133,117}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,90},{133,117}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,785},{129,130}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,96},{129,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{999,785},{128,132}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,97},{128,132}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,0},{127,133}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,96},{127,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,280},{126,133}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,95},{126,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,560},{123,136}}</string>
			<key>offset</key>
			<string>{-3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,93},{123,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{117,139}}</string>
			<key>offset</key>
			<string>{-6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,93},{117,139}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,280},{115,139}}</string>
			<key>offset</key>
			<string>{-7,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,91},{115,139}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,548},{118,133}}</string>
			<key>offset</key>
			<string>{-6,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,90},{118,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,785},{120,129}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{120,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,549},{129,124}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{129,124}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1650},{132,114}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,560},{132,113}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,547},{133,118}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,81},{133,118}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1448},{129,130}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,86},{129,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1051},{129,132}}</string>
			<key>offset</key>
			<string>{-3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,88},{129,132}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,280},{133,133}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,87},{133,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{232,280},{129,135}}</string>
			<key>offset</key>
			<string>{-2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,85},{129,135}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,280},{125,134}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,84},{125,134}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1709},{129,130}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,83},{129,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,0},{129,129}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{65,82},{129,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,280},{129,135}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,80},{129,135}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,280},{126,133}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,80},{126,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{125,127}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,80},{125,127}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,548},{131,116}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,79},{131,116}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,1014},{132,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,834},{133,114}}</string>
			<key>offset</key>
			<string>{3,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,101},{133,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1448},{130,100}}</string>
			<key>offset</key>
			<string>{4,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,129},{130,100}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1650},{128,98}}</string>
			<key>offset</key>
			<string>{5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,132},{128,98}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{235,0},{127,99}}</string>
			<key>offset</key>
			<string>{6,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,131},{127,99}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{235,1650},{127,98}}</string>
			<key>offset</key>
			<string>{6,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,132},{127,98}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1448},{123,103}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94,123},{123,103}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,0},{117,106}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106,116},{117,106}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1242},{115,102}}</string>
			<key>offset</key>
			<string>{12,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{110,124},{115,102}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,548},{118,105}}</string>
			<key>offset</key>
			<string>{11,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,118},{118,105}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,1051},{120,110}}</string>
			<key>offset</key>
			<string>{9,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{99,108},{120,110}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,551},{129,113}}</string>
			<key>offset</key>
			<string>{5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,103},{129,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1014},{132,113}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,103},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1241},{132,130}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_wave.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_wave.png</string>
	</dict>
</dict>
</plist>
