<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,1038},{262,253}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,85},{262,253}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{204,546},{267,270}}</string>
			<key>offset</key>
			<string>{-4,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,79},{267,270}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{269,272}}</string>
			<key>offset</key>
			<string>{-6,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{269,272}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,546},{268,247}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,91},{268,247}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,546},{268,266}}</string>
			<key>offset</key>
			<string>{-6,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,85},{268,266}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,815},{264,222}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,85},{264,222}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{911,546},{269,209}}</string>
			<key>offset</key>
			<string>{-9,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,77},{269,209}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{272,203}}</string>
			<key>offset</key>
			<string>{-12,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,76},{272,203}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,273},{266,209}}</string>
			<key>offset</key>
			<string>{-4,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,85},{266,209}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,273},{262,219}}</string>
			<key>offset</key>
			<string>{-1,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,83},{262,219}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,546},{269,220}}</string>
			<key>offset</key>
			<string>{-9,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,77},{269,220}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,0},{262,218}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,87},{262,218}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,273},{264,225}}</string>
			<key>offset</key>
			<string>{-8,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,78},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{911,816},{262,221}}</string>
			<key>offset</key>
			<string>{-5,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,73},{262,221}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,815},{264,222}}</string>
			<key>offset</key>
			<string>{0,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,71},{264,222}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,0},{267,222}}</string>
			<key>offset</key>
			<string>{2,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,72},{267,222}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,546},{269,217}}</string>
			<key>offset</key>
			<string>{4,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,74},{269,217}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,273},{268,209}}</string>
			<key>offset</key>
			<string>{-2,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{64,73},{268,209}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,0},{264,224}}</string>
			<key>offset</key>
			<string>{2,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,68},{264,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,273},{268,221}}</string>
			<key>offset</key>
			<string>{4,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,70},{268,221}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,819},{271,224}}</string>
			<key>offset</key>
			<string>{6,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,72},{271,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,546},{268,236}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,78},{268,236}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,0},{265,238}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{265,238}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,0},{264,250}}</string>
			<key>offset</key>
			<string>{15,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,74},{264,250}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,273},{266,272}}</string>
			<key>offset</key>
			<string>{14,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,68},{266,272}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_walk_2-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_walk_2-hd.png</string>
	</dict>
</dict>
</plist>
