<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{132,130}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1685},{132,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,0},{132,130}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1685},{132,130}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,778},{131,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{131,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,261},{131,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{131,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,0},{132,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,260},{132,129}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,0},{132,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,519},{132,129}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,260},{132,129}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,778},{132,113}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1459},{132,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1459},{132,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1459},{132,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1232},{132,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1003},{132,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1005},{132,112}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1232},{132,112}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,778},{132,112}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1459},{132,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1459},{132,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1005},{132,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,778},{132,112}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1232},{132,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1005},{132,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,778},{131,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,79},{131,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1232},{132,113}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1685},{132,112}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,80},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,778},{132,112}}</string>
			<key>offset</key>
			<string>{-4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,81},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1685},{132,112}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,80},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1459},{132,112}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1232},{132,112}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{132,130}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1005},{132,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,70},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,0},{132,130}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1685},{132,130}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,69},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,261},{131,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,70},{131,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1685},{132,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,70},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,0},{132,129}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,70},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,519},{132,129}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,71},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,260},{132,129}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,70},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,519},{132,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,71},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,519},{132,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,71},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_calm.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_calm.png</string>
	</dict>
</dict>
</plist>
