<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,939},{132,129}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,82},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,0},{130,126}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,86},{130,126}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,0},{132,129}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,84},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,939},{139,132}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,80},{139,132}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{283,0},{140,128}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,85},{140,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,232},{140,124}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,91},{140,124}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1205},{129,128}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,85},{129,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1205},{130,131}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,81},{130,131}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,0},{132,133}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{65,83},{132,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,482},{135,129}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,86},{135,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1697},{137,128}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,85},{137,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1205},{137,128}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,84},{137,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,530},{134,130}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,81},{134,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,939},{132,130}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,81},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,1469},{132,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,265},{132,108}}</string>
			<key>offset</key>
			<string>{-2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,80},{132,108}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1845,1697},{137,101}}</string>
			<key>offset</key>
			<string>{-6,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,76},{137,101}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,1469},{130,112}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,82},{130,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,482},{132,114}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,85},{132,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1463},{134,114}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,85},{134,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1693},{136,105}}</string>
			<key>offset</key>
			<string>{-6,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,70},{136,105}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1595,265},{136,106}}</string>
			<key>offset</key>
			<string>{-6,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,71},{136,106}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,1469},{130,107}}</string>
			<key>offset</key>
			<string>{-3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,77},{130,107}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,0},{130,113}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,77},{130,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1469},{130,112}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,78},{130,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,712},{132,113}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{132,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,258},{131,111}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,71},{131,111}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,712},{139,113}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,74},{139,113}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{141,115}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,72},{141,115}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{140,114}}</string>
			<key>offset</key>
			<string>{1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,72},{140,114}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1469},{129,105}}</string>
			<key>offset</key>
			<string>{-2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,68},{129,105}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1695},{130,108}}</string>
			<key>offset</key>
			<string>{-1,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,67},{130,108}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1697},{137,115}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,75},{137,115}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1463},{137,116}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,76},{137,116}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,939},{132,129}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,70},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1205},{131,127}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,73},{131,127}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1029},{134,125}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,72},{134,125}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1589,1697},{137,127}}</string>
			<key>offset</key>
			<string>{11,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,67},{137,127}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,756},{136,131}}</string>
			<key>offset</key>
			<string>{11,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,67},{136,131}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,482},{131,136}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,73},{131,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,258},{130,133}}</string>
			<key>offset</key>
			<string>{4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,79},{130,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1695},{132,129}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,79},{132,129}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1695},{134,128}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,73},{134,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,1205},{134,128}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,69},{134,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1205},{136,128}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,71},{136,128}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,258},{135,130}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,73},{135,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,530},{130,131}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,74},{130,131}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,530},{130,135}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,73},{130,135}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,258},{130,134}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,72},{130,134}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,939},{131,132}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,69},{131,132}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,939},{132,130}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,69},{132,130}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_walk_1.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_walk_1.png</string>
	</dict>
</dict>
</plist>
