<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,1242},{266,228}}</string>
			<key>offset</key>
			<string>{8,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,113},{266,228}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1252,1242},{259,200}}</string>
			<key>offset</key>
			<string>{4,-41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,141},{259,200}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1242},{259,204}}</string>
			<key>offset</key>
			<string>{4,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,137},{259,204}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1709},{265,207}}</string>
			<key>offset</key>
			<string>{7,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,134},{265,207}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1448},{258,201}}</string>
			<key>offset</key>
			<string>{4,-40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,140},{258,201}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,0},{251,204}}</string>
			<key>offset</key>
			<string>{0,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,137},{251,204}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1242},{258,205}}</string>
			<key>offset</key>
			<string>{4,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,136},{258,205}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{997,1448},{259,207}}</string>
			<key>offset</key>
			<string>{4,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,134},{259,207}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1027},{258,214}}</string>
			<key>offset</key>
			<string>{4,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,127},{258,214}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,0},{253,224}}</string>
			<key>offset</key>
			<string>{1,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,117},{253,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,785},{250,228}}</string>
			<key>offset</key>
			<string>{0,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,113},{250,228}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,1709},{262,226}}</string>
			<key>offset</key>
			<string>{6,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,115},{262,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,834},{265,260}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,81},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,280},{267,234}}</string>
			<key>offset</key>
			<string>{3,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,90},{267,234}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,785},{259,260}}</string>
			<key>offset</key>
			<string>{0,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,96},{259,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{999,785},{256,265}}</string>
			<key>offset</key>
			<string>{-1,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,97},{256,265}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,0},{254,266}}</string>
			<key>offset</key>
			<string>{-2,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,96},{254,266}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,280},{253,267}}</string>
			<key>offset</key>
			<string>{-3,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,95},{253,267}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,560},{246,273}}</string>
			<key>offset</key>
			<string>{-7,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,93},{246,273}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{234,279}}</string>
			<key>offset</key>
			<string>{-13,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,93},{234,279}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,280},{231,279}}</string>
			<key>offset</key>
			<string>{-15,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,91},{231,279}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,548},{236,266}}</string>
			<key>offset</key>
			<string>{-12,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,90},{236,266}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,785},{241,258}}</string>
			<key>offset</key>
			<string>{-10,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{241,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,549},{258,248}}</string>
			<key>offset</key>
			<string>{-1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{258,248}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1650},{265,229}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{265,229}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,560},{265,226}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,89},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,547},{266,237}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,81},{266,237}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1448},{259,260}}</string>
			<key>offset</key>
			<string>{-6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,86},{259,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1051},{259,264}}</string>
			<key>offset</key>
			<string>{-6,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,88},{259,264}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,280},{266,266}}</string>
			<key>offset</key>
			<string>{-9,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,87},{266,266}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{232,280},{258,270}}</string>
			<key>offset</key>
			<string>{-5,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,85},{258,270}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,280},{251,268}}</string>
			<key>offset</key>
			<string>{-2,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,84},{251,268}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,1709},{259,260}}</string>
			<key>offset</key>
			<string>{-6,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,83},{259,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,0},{259,258}}</string>
			<key>offset</key>
			<string>{-6,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{65,82},{259,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,280},{258,270}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,80},{258,270}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,280},{253,267}}</string>
			<key>offset</key>
			<string>{-3,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,80},{253,267}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{250,254}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,80},{250,254}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,548},{262,232}}</string>
			<key>offset</key>
			<string>{-7,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,79},{262,232}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,1014},{265,226}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (31).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,834},{266,228}}</string>
			<key>offset</key>
			<string>{7,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,101},{266,228}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (32).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1448},{261,200}}</string>
			<key>offset</key>
			<string>{9,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,129},{261,200}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (33).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1650},{257,197}}</string>
			<key>offset</key>
			<string>{11,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,132},{257,197}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (34).png</key>
		<dict>
			<key>frame</key>
			<string>{{235,0},{255,198}}</string>
			<key>offset</key>
			<string>{12,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,131},{255,198}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (35).png</key>
		<dict>
			<key>frame</key>
			<string>{{235,1650},{254,197}}</string>
			<key>offset</key>
			<string>{13,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,132},{254,197}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (36).png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1448},{246,206}}</string>
			<key>offset</key>
			<string>{17,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94,123},{246,206}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (37).png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,0},{234,213}}</string>
			<key>offset</key>
			<string>{23,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106,116},{234,213}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (38).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1242},{230,205}}</string>
			<key>offset</key>
			<string>{25,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{110,124},{230,205}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (39).png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,548},{236,211}}</string>
			<key>offset</key>
			<string>{22,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,118},{236,211}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (40).png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,1051},{241,221}}</string>
			<key>offset</key>
			<string>{19,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{99,108},{241,221}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (41).png</key>
		<dict>
			<key>frame</key>
			<string>{{491,551},{258,226}}</string>
			<key>offset</key>
			<string>{11,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,103},{258,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (42).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1014},{265,226}}</string>
			<key>offset</key>
			<string>{7,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,103},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (43).png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,1241},{265,260}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_wave-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_wave-hd.png</string>
	</dict>
</dict>
</plist>
