<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,939},{265,259}}</string>
			<key>offset</key>
			<string>{6,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,82},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,0},{261,252}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,86},{261,252}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,0},{264,259}}</string>
			<key>offset</key>
			<string>{-1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,84},{264,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,939},{278,265}}</string>
			<key>offset</key>
			<string>{-6,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,80},{278,265}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{283,0},{281,257}}</string>
			<key>offset</key>
			<string>{-7,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,85},{281,257}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,232},{281,249}}</string>
			<key>offset</key>
			<string>{-5,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,91},{281,249}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1205},{259,256}}</string>
			<key>offset</key>
			<string>{3,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,85},{259,256}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1205},{260,263}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,81},{260,263}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,0},{264,267}}</string>
			<key>offset</key>
			<string>{-3,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{65,83},{264,267}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,482},{271,259}}</string>
			<key>offset</key>
			<string>{-8,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,86},{271,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1697},{274,256}}</string>
			<key>offset</key>
			<string>{-7,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,85},{274,256}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1205},{275,257}}</string>
			<key>offset</key>
			<string>{-5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,84},{275,257}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,530},{269,260}}</string>
			<key>offset</key>
			<string>{2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,81},{269,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,939},{265,260}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,81},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,1469},{264,226}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{264,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,265},{264,216}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,80},{264,216}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1845,1697},{274,202}}</string>
			<key>offset</key>
			<string>{-12,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,76},{274,202}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,1469},{261,224}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,82},{261,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,482},{265,228}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,85},{265,228}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1463},{268,229}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,85},{268,229}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1693},{273,211}}</string>
			<key>offset</key>
			<string>{-13,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,70},{273,211}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1595,265},{272,213}}</string>
			<key>offset</key>
			<string>{-12,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,71},{272,213}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,1469},{261,215}}</string>
			<key>offset</key>
			<string>{-7,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,77},{261,215}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,0},{260,226}}</string>
			<key>offset</key>
			<string>{-4,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,77},{260,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1469},{260,225}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,78},{260,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,712},{265,226}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,258},{262,222}}</string>
			<key>offset</key>
			<string>{-2,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,71},{262,222}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,712},{279,226}}</string>
			<key>offset</key>
			<string>{4,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,74},{279,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{282,231}}</string>
			<key>offset</key>
			<string>{5,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,72},{282,231}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{281,229}}</string>
			<key>offset</key>
			<string>{3,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,72},{281,229}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1469},{259,211}}</string>
			<key>offset</key>
			<string>{-5,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,68},{259,211}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,1695},{260,217}}</string>
			<key>offset</key>
			<string>{-2,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,67},{260,217}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1697},{275,230}}</string>
			<key>offset</key>
			<string>{5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,75},{275,230}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1463},{275,233}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,76},{275,233}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,939},{265,259}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,70},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1205},{263,254}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,73},{263,254}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1029},{269,250}}</string>
			<key>offset</key>
			<string>{18,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,72},{269,250}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1589,1697},{274,255}}</string>
			<key>offset</key>
			<string>{22,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,67},{274,255}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,756},{272,262}}</string>
			<key>offset</key>
			<string>{22,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,67},{272,262}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{282,482},{262,273}}</string>
			<key>offset</key>
			<string>{11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,73},{262,273}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (20).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,258},{261,267}}</string>
			<key>offset</key>
			<string>{9,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,79},{261,267}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1695},{265,258}}</string>
			<key>offset</key>
			<string>{12,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,79},{265,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (22).png</key>
		<dict>
			<key>frame</key>
			<string>{{808,1695},{268,256}}</string>
			<key>offset</key>
			<string>{16,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,73},{268,256}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,1205},{269,256}}</string>
			<key>offset</key>
			<string>{18,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,69},{269,256}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1205},{273,256}}</string>
			<key>offset</key>
			<string>{22,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,71},{273,256}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,258},{271,260}}</string>
			<key>offset</key>
			<string>{22,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,73},{271,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,530},{260,262}}</string>
			<key>offset</key>
			<string>{17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,74},{260,262}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (27).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,530},{260,270}}</string>
			<key>offset</key>
			<string>{14,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,73},{260,270}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (28).png</key>
		<dict>
			<key>frame</key>
			<string>{{807,258},{261,269}}</string>
			<key>offset</key>
			<string>{12,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,72},{261,269}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{545,939},{262,265}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,69},{262,265}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1069,939},{265,260}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,69},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_walk_1-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_walk_1-hd.png</string>
	</dict>
</dict>
</plist>
