<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{265,260}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1685},{264,259}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{264,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,0},{265,260}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1685},{264,260}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,81},{264,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,778},{263,259}}</string>
			<key>offset</key>
			<string>{6,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{263,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,261},{263,259}}</string>
			<key>offset</key>
			<string>{6,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{263,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,0},{265,259}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,260},{265,258}}</string>
			<key>offset</key>
			<string>{7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{265,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,0},{265,259}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,82},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,519},{264,258}}</string>
			<key>offset</key>
			<string>{7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{264,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider1 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,260},{264,258}}</string>
			<key>offset</key>
			<string>{7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,83},{264,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,778},{265,226}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1459},{264,225}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1459},{265,225}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{265,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1459},{264,225}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1232},{264,226}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{264,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1003},{264,227}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,88},{264,227}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1005},{265,224}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{265,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1232},{265,224}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{265,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,778},{265,224}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,90},{265,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1459},{264,225}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider2 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1459},{264,225}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,89},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1005},{265,226}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,778},{264,225}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1232},{265,226}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{265,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1005},{264,226}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{264,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,778},{263,226}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,79},{263,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,1232},{264,226}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{264,226}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,1685},{265,225}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,80},{265,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,778},{265,224}}</string>
			<key>offset</key>
			<string>{-9,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,81},{265,224}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1685},{265,225}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,80},{265,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1459},{264,225}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider3 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1232},{264,225}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,80},{264,225}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,0},{265,260}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (10).png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1005},{264,259}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,70},{264,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (11).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,0},{265,260}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,69},{265,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1685},{264,260}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,69},{264,260}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,261},{263,259}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,70},{263,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (4).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1685},{264,259}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,70},{264,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (5).png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,0},{265,259}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,70},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (6).png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,519},{265,258}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,71},{265,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (7).png</key>
		<dict>
			<key>frame</key>
			<string>{{1596,260},{265,259}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,70},{265,259}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (8).png</key>
		<dict>
			<key>frame</key>
			<string>{{798,519},{264,258}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,71},{264,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
		<key>spider4 (9).png</key>
		<dict>
			<key>frame</key>
			<string>{{532,519},{264,258}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,71},{264,258}}</string>
			<key>sourceSize</key>
			<string>{400,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_calm-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_calm-hd.png</string>
	</dict>
</dict>
</plist>
