<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider1 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,1038},{131,126}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,85},{131,126}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{204,546},{133,135}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,79},{133,135}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{134,136}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,79},{134,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,546},{134,123}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,91},{134,123}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider1 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,546},{134,133}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,85},{134,133}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,815},{132,111}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,85},{132,111}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{911,546},{134,104}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,77},{134,104}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{136,101}}</string>
			<key>offset</key>
			<string>{-6,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,76},{136,101}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,273},{133,104}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,85},{133,104}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (19).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,273},{131,109}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,83},{131,109}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (23).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,546},{134,110}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,77},{134,110}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider2 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{472,0},{131,109}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,87},{131,109}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (12).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,273},{132,112}}</string>
			<key>offset</key>
			<string>{-4,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{60,78},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (13).png</key>
		<dict>
			<key>frame</key>
			<string>{{911,816},{131,110}}</string>
			<key>offset</key>
			<string>{-2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,73},{131,110}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (15).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,815},{132,111}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,71},{132,111}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (16).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,0},{133,111}}</string>
			<key>offset</key>
			<string>{1,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,72},{133,111}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (17).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,546},{134,108}}</string>
			<key>offset</key>
			<string>{2,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,74},{134,108}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (21).png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,273},{134,104}}</string>
			<key>offset</key>
			<string>{-1,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{64,73},{134,104}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (24).png</key>
		<dict>
			<key>frame</key>
			<string>{{693,0},{132,112}}</string>
			<key>offset</key>
			<string>{1,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,68},{132,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (25).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,273},{134,110}}</string>
			<key>offset</key>
			<string>{2,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,70},{134,110}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (26).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,819},{135,112}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,72},{135,112}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (29).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,546},{134,118}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,78},{134,118}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider3 (30).png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,0},{132,119}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,79},{132,119}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (14).png</key>
		<dict>
			<key>frame</key>
			<string>{{1636,0},{132,125}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,74},{132,125}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>spider4 (18).png</key>
		<dict>
			<key>frame</key>
			<string>{{0,273},{133,136}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,68},{133,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spider_walk_2.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>spider_walk_2.png</string>
	</dict>
</dict>
</plist>
